{% load static %}
<!DOCTYPE html>
<html>
<head>
  {{ form.media.css }}
  <style type="text/css">
    select {
      width: 200px;
    }
  </style>
</head>
<body>
{% with formset=form %}
<form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.non_form_errors}}
  {% for form in formset.forms %}
  <div class="row"><!-- Use a row if you prefer to manage formset inside an unique form, this will handle correctly dependent fields -->
    {{form}}
  </div>
  {% endfor %}

  <input type="submit" value="Submit Form"/>
</form>
{% endwith %}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{{ form.media.js }}
</body>
